.contactUs {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 
        rgba(255,255,255,0.5), 
        rgba(255,255,255,0.5)), 
        url("https://images.pexels.com/photos/2259221/pexels-photo-2259221.jpeg?cs=srgb&dl=pexels-henry-%26-co-2259221.jpg&fm=jpg");
    background-size: cover;
}

.contactUsTitle {
    font-size: 80px;
}

.contactUsSubTitle {
    font-size: 20px;
}

.contactUsInput {
    font-family: 'IBM Plex Mono', monospace;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    text-align: left;
    width: 300px;
    height: 150px;
    resize: none;
}

.contactSubmitButton {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: none;
}

.contactDownloadButton {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: none;
}

.link {
    color: inherit;
}
